.footer-container {
  background-color: black; /* Fondo negro */
  color: white;
  padding: 2rem 0;
  text-align: center; /* Centra el contenido */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo img {
  width: 100px; /* Ajusta el tamaño del logo según lo necesites */
  height: auto;
  margin-bottom: 1rem;
}

.footer-copyright {
  font-size: 0.9rem;
  color: white; /* Color blanco para el texto */
}
